/* CSS Reset */
body, p, ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

/* Layout */
.l_wrapper {
    margin: 0 auto;
    width: 960px;
}

.l_sidebar {
    float: right;
    background-color: #aaa;
    width: 300px;
    margin-left: 40px;
}

.l_main {
    border: 5px solid red;
    overflow: hidden;
}

/* button */
.button {
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5em 0.1em;
}

.button_block {
    display: block;
    background-color: rgb(158, 147, 147);
}

.button_important {
    background-color: orangered;
}


/* Commons */
.mb_5 { margin-bottom: 5px; }

/* Components */
body {
    background-image: url(images/bg.png);
    color: #eee;
}

.contents {
    padding: 50px 0;
}

.video {
    background-color: violet;
    padding-top: 56.25%;
    position: relative;
}

.video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.price {
    color: orangered;
    font-size: 40px;
    text-align: center;
    padding: 0.2em 0;
}

.price-discount {
    color: gray;
    font-size: 0.7em;
    position: relative;
}

.price-discount::before {
    content: ' ';
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
    background-color: red;
    display: block;
    height: 3px;
}

.checkout-section {
    padding: 20px;
}

.subject {
    color: #0e0e0e;
}

.title {
    font-size: 1.2em;
    margin: -20px 0 10px 0;
}

ul {
    margin-left: 10px;
}

ul li{
    position: relative;
    margin-bottom: 3px;
}

ul li::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: -10px;
    display: block;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: yellow;
}

.cover {
    background-image: url(images/cover.png);
}

.section {
    background-color: orangered;;
    margin: 20px 0;
}