body, h1, h2, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #999;
}

.wrapper {
    width: 800px;
    margin: 150px auto;
}

.sidebar,
.contents {
    border-radius: 5px;
    background-color: white;
}

.sidebar {
    margin-left: 20px;
    float: right;
    width: 250px;
    text-align: center;
}
.star::before ,
.star {
    display: inline-block;
    width: 150px;
    height: 30px;
    background-image: url(images/star-sprite.png);
    overflow: hidden;
}

.star::before {
    content: ' ';
    display: block;
    background-position: left bottom;
    width: 80%;
}

.sidebar-section,
.contents-section {
    margin-bottom: 20px;
}

.sidebar-section.footer {
    font-size: 20px;
}

.cover img{
    width: 100%;
    margin-top : -100px;
}

h1, h2, .price{
    font-weight: bold;
    line-height: 1;
    color: #bbc8d2;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #bbc8d2;
    margin-bottom: 20px;
    padding-bottom: 8px;
}

.price::before {
    content: '$';
    font-size: 0.7em;
    opacity: 0.5;
}

.price {
    font-weight: normal;
    font-size: 30px;
}

.button {
    vertical-align: middle;
    padding: 10px;
    font-size: 15px;
    margin: 5px 20px;
    color: white;
    font-weight: bold;
    background-color: grey;
    text-indent: 0.2em;
    letter-spacing: 0.2em;
}

.button.cart {
    background-color: #bbc8d2;
}

.contents {
    padding: 30px 30px 0 30px;
    overflow: hidden;
}

.contents-section p {
    line-height: 1.4;
    
}

.message {
    overflow: hidden;
}

.message:last-child {
    margin-bottom: 0;
}

.message-profile {
    float: left;
}

.message-profile img {
    border-radius: 50%;
}

.message-profile::after,
.message-profile.woman::before {
    content: ' ';
    border-color: transparent #ddd transparent transparent;
    border-style: solid;
    border-width: 10px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: 10px;
}

.message-contents{
    width: 335px;
    background-color: #ddd;
    padding: 15px;
    margin-bottom: 20px;
    overflow: hidden;
}

.message-contents.woman {
    margin: 0 0 0 auto;
}

.message-profile.woman {
    float: right;
}

.message-profile.woman::before {
    border-color: transparent transparent transparent #ddd;
}

.message-profile.woman::after {
    display: none;
}