h1, h2, ul, p{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

body{
    background-color: #666;
    /* 창 크기 맞춤 */ 
    background-size: cover;
    /* 창 가운데 정렬*/
    background-position: center;
    /* 스크롤 영향 받지 않게 */
    background-attachment: fixed;
    background-image: url(images/halloween-background.gif);
}

.wrapper{
    background-color: #ddd;
    width: 800px;
    margin: 50px auto;
}

.header{
    background-image: url(images/halloween-header-bg.png);
    color: white;
    height: 400px;
    text-align: center;
}

.header .profile{
    margin-top: 50px;
}

.header h1{
    color: violet;
    margin: 10px 0;
}

.header p{
    background-color: black;
    color: #888;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}

.section{
    background-image: url(images/icon-information.png);
    background-repeat: no-repeat;
    background-position: right 30px center;
    background-color: white;
    margin: 20px;
    padding: 20px;
}

.section h2{
    color: orangered;
    margin-bottom: 10px;
}

.section li{
    background-image: url(images/icon.png);
    background-repeat: no-repeat;
    padding: 10px 50px 8px;
}

.section li:hover{
    background-image: url(images/icon-transform.png);
    background-repeat: no-repeat;
    color: orangered;
    border-color: orangered;
}

.footer{
    background-color: #111;
    color:#999;
    padding: 10px 0;
    text-align: center;
    color: violet;
    /* 자간, 들여쓰기 */
    letter-spacing: 5px;
    text-indent: 5px;
}