body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body {
    background-image: url(images/bg.png);
    color: white;
}

.wrapper {
    max-width: 1200px;
    margin: 50px auto;
}

.timeline {
    margin: 100px 0;
    position: relative;
}

.timeline::before {
    content: ' ';
    background-color: purple;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    margin: 50px 0 -100px;
    width: 5px;
}

.timeline-item {
    padding: 0 40px;
    width: 50%;
    box-sizing: border-box;
    position: relative;
}

.timeline-item::before {
    content: ' ';
    position: absolute;
    background-image: url(images/bg.png);
    border: 5px solid purple;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 50px -20px;
}

.timeline-item::after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 40px;
    height: 5px;
    margin: 65px 18px;
    background-color: purple;
}

.timeline-item:nth-child(even) {
    margin-left: auto;
    margin-top: -100px;
    margin-bottom: -100px;
}

.timeline-item:nth-child(even)::before,
.timeline-item:nth-child(even)::after {
    left: 0;
}


.tour {
    background-color: black;
    min-height: 400px;
}

.tour-cover {
    width: 100%;
}

.tour-contents {
    padding: 20px;
}

.tour-contents h1 strong {
    display: block;
}

.tour-contents h1 {
    margin-bottom: 10px;
}

.tour-contents p {
    line-height: 1.5;
}

.tour-contents strong,
.tour-contents p {
    color: darkgray;
}

@media ( max-width:720px) {
    .timeline-item:nth-child(even),
    .timeline-item {
        width: auto;
        margin: 0 0 40px 40px;
    }

    .timeline::before {
        left: 40px;
        transform: none;
    }

    .timeline-item::after,
    .timeline-item::before {
        left : 0;
    }
}